@using E_Lessons.Models
@model List<DirectoryModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>File Name</th>
            <th></th>
        </tr>
        @foreach (DirectoryModel directory in Model)
        {
            <tr>
                <td>@directory.DirectoryName</td>
                <td>@Html.ActionLink("View", "Index", "Slide", new { directoryName = directory.DirectoryName, index = 1 }, null)</td>
            </tr>
        }
    </table>
</body>
</html>